<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="menu" class="menu" th:fragment="menu">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Maker Tracker</a>
            </div>
            <ul class="nav navbar-nav">

                <li class="active"><a href="/greeting">Greeting</a></li>
                <li><a href="/members">Members</a></li>
                <li><a href="/trainings">Trainings</a></li>
                <li><a href="/assets">Assets</a></li>

            </ul>
        </div>
    </nav>

    <!--<div id="logo" class="logo">-->
    <!--<img src="../static/images/10bitworkslogo.png" width="255"-->
    <!--th:src="@{images/10bitworkslogo.png}"/>-->
    <!--</div>-->
    <!--<div><H1>MAKER TRACKER</H1></div>-->
</div>
</html>