.flexBoxContainer{
    display:flex;
    flex-direction: column;
    height: 100vh;

}

.logo {
  padding:10px 0px;
}

.content {
    flex: 1 0 auto;
    display:flex;
    flex-direction: row;

    align-items:  stretch;
}

.screen {
   flex-grow:1;
   background-color:green;
}
.footer {
   min-height:100px;
   background-color:gray;
   display:flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex: 0 2 auto;
}