<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" lang="en"/>
<body>
<div id="mainContainer" class="flexBoxContainer">
    <div th:replace="fragments/menu :: menu"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <form>
                    <div class="form-group" style="display:none">
                        <label for="assetId">Id:</label>
                        <input type="text" class="form-control" id="assetId"/>
                    </div>
                    <div th:replace="fragments/formField :: formField(field='title', type='text' , label='Title')" ></div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea  class="form-control" id="description"/>
                    </div>
                    <div th:replace="fragments/formField :: formField(field='dateAquired', type='date' , label='Date Auquired')" ></div>
                    <div th:replace="fragments/formField :: formField(field='dateRemoved', type='date' , label='Date Removed')" ></div>
                    <div th:replace="fragments/formField :: formField(field='brand', type='text' , label='Brand')" ></div>
                    <div th:replace="fragments/formField :: formField(field='modelNumber', type='text' , label='Model Number')" ></div>
                    <div th:replace="fragments/formField :: formField(field='serialNumber', type='text' , label='Serial Number')" ></div>
                    <div th:replace="fragments/formField :: formField(field='retailValue', type='text' , label='Retail Value')" ></div>
                    <div th:replace="fragments/formField :: formField(field='webLink', type='text' , label='Web Link')" ></div>
                    <div th:replace="fragments/formField :: formField(field='operator', type='text' , label='Operator')" ></div>
                    <div th:replace="fragments/formField :: formField(field='donator', type='text' , label='Donator')" ></div>
                    <button type="submit" class="btn btn-default" id="btn_submit">Add / Update Asset</button>
                </form>
            </div>
        </div>
        <br />
        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <h1>Assets</h1>

                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Delete</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="asset : ${assets}">
                            <td th:text="${asset.id}"></td>
                            <td th:text="${asset.title}"></td>
                            <td th:text="${asset.description}"></td>
                            <td th:id="${asset.id}"><button class="btn btn-danger delete-asset">Delete</button></td>
                            <td th:id="${asset.id}"><button class="btn edit-asset">Edit</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
<script src="../static/script/asset.js"  th:src="@{script/asset.js}" type="application/javascript"></script>

</body>
</html>

