<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" lang="en"/>
<body>
<div id="mainContainer" class="flexBoxContainer">
    <div th:replace="fragments/menu :: menu"></div>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <h1>Completed Trainings</h1>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="hidden-xs hidden-sm">Id</th>
                            <th>Member</th>
                            <th>Training</th>
                            <th class="hidden-xs hidden-sm">Date</th>
                            <th>Delete</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="completedtraining : ${completedtrainings}">
                            <td class="hidden-xs hidden-sm"  th:text="${completedtraining.id}"></td>
                            <td th:text="${completedtraining.memberName}"></td>
                            <td th:text="${completedtraining.trainingTitle}"></td>
                            <td class="hidden-xs hidden-sm" th:text="${completedtraining.trainingDate}"></td>
                            <td th:id="${completedtraining.id}"><button class="btn btn-danger delete-training">Delete</button></td>
                            <td th:id="${completedtraining.id}"><button class="btn edit-training">Edit</button></td>
                        </tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td><button class="btn new-training">New</button></td>
						</tr>
                        </tbody>
                    </table>
                </div>
            </div>
			<div class="col-lg-8 col-md-7 col-sm-6">
                <form>
                    <div class="form-group" style="display:none">
                        <label for="completedTrainingId">Id:</label>
                        <input type="text" class="form-control" id="completedTrainingId" th:value="${completedtraining?.id}" />
                    </div>
                    <div class="form-group">
                        <label for="trainingDate">Date:</label>
                        <input type="date" class="form-control date" id="trainingDate" th:value="${completedtraining?.trainingDate}" />
                    </div>
					
                    <div class="form-group">
                        <label for="memberId">Member:</label>
                        <select class="form-control" id="memberId" >
                            <option value="" disabled="disabled">Select Member</option>
                            <option th:each="member : ${members}"
                                    th:value="${member.id}"
                                    th:text="${member.memberName}"
									th:selected="${completedtraining?.memberId} == ${member.id}" >
							</option>
                        </select>
                    </div>
					
                    <div class="form-group">
                        <label for="trainingId">Training:</label>
                        <select class="form-control" id="trainingId" >
                            <option value="" disabled="disabled">Select Training</option>
                            <option th:each="training : ${trainings}"
                                    th:value="${training.id}"
                                    th:text="${training.title}"
									th:selected="${completedtraining?.trainingId} == ${training.id}" >
							</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="status">Status:</label>
                        <select  class="form-control" id="status">
                            <option th:each="status : ${T(org.tenbitworks.model.TrainingStatus).values()}"
								th:value="${status}"
								th:text="${status.text}" 
								th:selected="${completedtraining?.status} == ${status}">
							</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-default" id="btn_submit">Add / Update Completed Training</button>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
<script th:src="@{~/script/completedtraining.js}" type="application/javascript"></script>

</body>
</html>
