<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Maker Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>

    <link href="../static/css/makertracker.css"
          th:href="@{css/makertracker.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<!--<div class="container">-->
    <!--<div class="jumbotron">-->
        <!--<img src="../static/images/10bitworkslogo.png" width="255"-->
             <!--th:src="@{images/10bitworkslogo.png}"/>-->
        <!--<h1>Hello 1</h1>-->

        <!--<h2>Maker Tracker</h2>-->
    <!--</div>-->
<!--</div>-->
<div id="mainContainer" class="flexBoxContainer">
    <div id="header" class="header" >
        <div id="logo" class="logo">
            <img src="../static/images/10bitworkslogo.png" width="255"
            th:src="@{images/10bitworkslogo.png}"/>
        </div>
    </div>
    <div id="content" class="content">
        <div  id="menu" class="menu">
            <div class="menuItem"><a href="/greeting">Greeting</a></div>
            <div class="menuItem"><a href="/members">Members</a></div>
            <div class="menuItem"><a href="/trainings">Trainings</a></div>
            <div class="menuItem"><a href="/assets">Assets</a></div>
        </div>
        <div id="screen" class="screen">
            Screen
        </div>
    </div>
    <div id="footer" class="footer">
        <div>Footer1</div>
        <div>Footer2</div>
        <div>Footer3</div>
    </div>
</div>
</body>
</html>