<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" lang="en">
    <title>Maker Tracker</title>
</head>
<body>

<div id="mainContainer" class="flexBoxContainer">
    <div th:replace="fragments/menu :: menu"></div>
    <div class="container">
        <div class="jumbotron">
            <img src="../static/images/10bitworkslogo.png" width="255"
                 th:src="@{images/10bitworkslogo.png}"/>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>