<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" lang="en"/>
<body>
<div id="mainContainer" class="flexBoxContainer">
    <div th:replace="fragments/menu :: menu"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <form>
                    <div class="form-group" style="display:none">
                        <label for="member_id">Id:</label>
                        <input type="text" class="form-control" id="member_id"/>
                    </div>
                    <div class="form-group">
                        <label for="member_firstName">First Name:</label>
                        <input type="text" class="form-control" id="member_firstName"/>
                    </div>
                    <div class="form-group">
                        <label for="member_lastName">Last Name:</label>
                        <input type="text" class="form-control" id="member_lastName"/>
                    </div>


                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea  class="form-control" id="description"/>
                    </div>
                    <div class="form-group">
                        <label for="member_email">Email:</label>
                        <input type="text" class="form-control" id="member_email"/>
                    </div>
                    <div th:replace="fragments/formField :: formField(field='phoneNumber', type='text' , label='Phone Number')" ></div>
                    <div th:replace="fragments/formField :: formField(field='zipCode', type='text' , label='Zip Code')" ></div>
                    <button type="submit" class="btn btn-default" id="btn_submit">Add / Update Member</button>
                </form>
            </div>
        </div>
        <br />
        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <h1>Members</h1>

                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="hidden-xs hidden-sm">Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Delete</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="member : ${members}">
                            <td class="hidden-xs hidden-sm" th:text="${member.id}"></td>
                            <td th:text="${member.firstName}"></td>
                            <td th:text="${member.lastName}"></td>
                            <td th:id="${member.id}"><button class="btn btn-danger delete-member">Delete</button></td>
                            <td th:id="${member.id}"><button class="btn edit-member">Edit</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>

<script src="../static/script/member.js"  th:src="@{script/member.js}" type="application/javascript"></script>

</html>
