<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" lang="en"/>
<body>
<div id="mainContainer" class="flexBoxContainer">
    <div th:replace="fragments/menu :: menu"></div>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <h1 th:text="'Members : ' + ${membercount}">Members</h1>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Delete</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="member : ${members}">
                            <td th:text="${member.memberName}"></td>
                            <td th:id="${member.id}"><button class="btn btn-danger delete-member" sec:authorize="hasRole('ROLE_ADMIN')">Delete</button></td>
                            <td th:id="${member.id}"><button class="btn edit-member">Edit</button></td>
                        </tr>
                        
                        <tr sec:authorize="hasRole('ROLE_ADMIN')">
                            <td></td>
                            <td></td>
                            <td><button class="btn new-member">New</button></td>
                        </tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-lg-8 col-md-7 col-sm-6">
                <form>
                    <div class="form-group" style="display:none">
                        <label for="member_id">Id:</label>
                        <input type="text" class="form-control" id="member_id" th:value="${member?.id}"/>
                    </div>
                    <div class="form-group">
                        <label for="memberName">Name:</label>
                        <input type="text" class="form-control" id="memberName" th:value="${member?.memberName}" />
                    </div>
                    <div class="form-group">
                        <label for="status">Status:</label>
                        <select  class="form-control" id="status">
                        	<option th:each="status : ${T(org.tenbitworks.model.MemberStatus).values()}"
						          th:value="${status}" 
						          th:text="${status.text}" 
						          th:selected="${member?.status} == ${status}">
						   </option>
						</select>
                    </div>

                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea class="form-control" id="description" th:text="${member?.description}" />
                    </div>
                    <div class="form-group">
                        <label for="member_email">Email:</label>
                        <input type="text" class="form-control" id="member_email" th:value="${member?.email}" />
                    </div>
                    <div class="form-group">
                        <label for="status">Payment Method:</label>
                        <select class="form-control" id="paymentMethod">
                        	<option th:each="paymentMethod : ${T(org.tenbitworks.model.PaymentMethod).values()}"
								th:value="${paymentMethod}"
								th:text="${paymentMethod.text}" 
								th:selected="${member?.paymentMethod} == ${paymentMethod}">
							</option>
						</select>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number:</label>
                        <input type="text" class="form-control" id="phoneNumber" th:value="${member?.phoneNumber}" />
                    </div>
                    <div class="form-group">
                        <label for="zipCode">Zip Code:</label>
                        <input type="text" class="form-control" id="zipCode" th:value="${member?.zipCode}" />
                    </div>

                    <button type="submit" class="btn btn-default" id="btn_submit">Add / Update Member</button>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
<script th:src="@{~/script/member.js}" type="application/javascript"></script>

</body>
</html>
