<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" lang="en"/>
<body>
<div id="mainContainer" class="flexBoxContainer">
    <div th:replace="fragments/menu :: menu"></div>
    <div class="container">
        <div class="row">
        	<div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <h1>Trainings</h1>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th class="hidden-xs hidden-sm">Asset</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="training : ${trainings}">
							<td th:id="${training.id}" th:inline="text"><a class="edit-training">[[${training.title}]]</a></td>
                            <td th:text="${training.description}"></td>
                            <td class="hidden-xs hidden-sm" th:text="${training.asset.title}"></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')" th:id="${training.id}"><button class="btn btn-danger delete-training">Delete</button></td>
                        </tr>
                        
                        <tr sec:authorize="hasRole('ROLE_ADMIN')">
                            <td></td>
                            <td></td>
                            <td class="hidden-xs hidden-sm"></td>
                            <td><button class="btn new-training">New</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
			<div class="col-lg-8 col-md-7 col-sm-6">
				<form>
					<div class="form-group" style="display:none">
						<label for="trainingId">Id:</label>
						<input type="text" class="form-control" id="trainingId" th:value="${training?.id}" />
					</div>
					<div class="form-group">
						<label for="title">Title:</label>
						<input type="text" class="form-control" id="title" th:value="${training?.title}" />
					</div>
					<div class="form-group">
						<label for="description">Description:</label>
						<textarea  class="form-control" id="description" th:text="${training?.description}" />
					</div>
					<div class="form-group">
						<label for="assetId">Asset:</label>
						<select class="form-control" id="assetId" >
							<option value="">Select Asset</option>
							<option th:each="asset : ${assets}"
									th:value="${asset.id}"
									th:text="${asset.title}"
									th:selected="${training?.assetId} == ${asset.id}"></option>
						</select>
					</div>

					<button type="submit" class="btn btn-default" id="btn_submit">Add / Update Training</button>
				</form>
			</div>
		</div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
<script th:src="@{~/script/training.js}" type="application/javascript"></script>

</body>
</html>
